altgraph==0.16.1
certifi==2019.3.9
chardet==3.0.4
future==0.17.1
idna==2.8
macholib==1.11
mysql-connector-python==8.0.15
pefile==2018.8.8
Pillow==8.2.0
protobuf==3.7.1
PyInstaller==3.4
PyQt5==5.12.1
PyQt5-sip==4.19.15
qrcode==6.1
requests==2.21.0
six==1.12.0
urllib3==1.24.1
